<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Trabalho Final</title>
</head>
<body class="bg-dark">
    <div class="container mt-5">
        <h1 class="text-center text-white">Machine Learning Web App</h1>
        <p class="text-center text-white">Selecione um classificador e ajuste os parâmetros para ver os resultados.</p>
        <div class="text-center">
            <a href="{{ url_for('train_test') }}" class="btn btn-outline-light mb-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                </svg>
            </a>
        </div>
    </div>
</body>
</html>
